{% extends "base_generic.html" %}
{% block content %}
<div class="container-fluid">
  <div style="text-align: center;">
    <br>
    <br>
    <h1 style="color: rgb(255, 8, 8);">¡¡¡¡¡ Advertencia Esta Seguro De Borrar El Producto !!!!!</h1>
      <div style="color: chocolate;">
        <br>
        <br>
        <p style="font-size: 30px;">Estas seguro que quieres borrar la pelcula</p>
        <br>
        <p style="font-size: 20px;">{{ producto.nombre }}</p>
        <img src="{{ producto.foto.url }}" style="height: 400px;">
        <br>
        <br>
        <br>
        <p style="font-size: 30px;">Descripcion</p>
        <br>
        <p style="font-size: 20px;">{{ pelicula.descripcion }}</p>
        <br>
        <br>
        <br>
        <p style="font-size: 30px;">Valor</p>
        <br>
        <p style="font-size: 20px;">{{ pelicula.precio }}</p>
        <br>
        <br>
        <br>
        <form action="" method="POST">
          {% csrf_token %}
          <input type="submit" action="" value="Yes, delete." />
        </form>
      </div>
      <br>
      <br>
  </div>
</div>
{% endblock %}