{% extends "base_generic.html" %}
{% block content %}
<div class="container-fluid" style="background-color:aliceblue;">
    <div class="masthead container d-flex align-items-center flex-column">
        <div style="text-align: center;">
            <p style="color: rgb(255, 0, 0); font-size: 90px;">¡¡¡Desconectado!!!</p>
            <br>
            <br>
            <br>
            <br>
            <p style="font-size: 30px;">Haz click en el boton para volver al inicio de nuestra pagina</p>
            <br>
            <br>
            <a href="{% url 'index' %}" class="btn btn-primary btn-xl" role="button">Volver a pantalla de Inicio</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}